<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>名言App Alpha</title>
</head>
<body>
	<h3>名言を登録しよう</h3>
		<form th:action="@{/add}" th:object="${meigen}" method="post">
		<label for="content">名言：</label>
		<input type="text" th:field="*{content}"><br>
		
		
		
		
		
		
		<label for="userRegi">名前：</label>
		<input type="text" th:field="*{userRegi}"><br>
		
		<p th:text="${#calendars.format(#calendars.createNowForTimeZone('GMT+0900'), 'yyyy年MM月dd日 HH時mm分ss秒')}"></p><br>
		
		
		
		<button>登録</button>
		</form>
		
		<br>
		  <h3>一覧	</h3>
		<table>  
			<tr th:each="meigen:${meigens}" th:object="${meigen}">
				<td>[[*{id}]] - [[*{content}]] - [[*{userRegi}]] - [[*{date}]]</td>
				<td>
					<form th:action="@{/edit}" method="get">
						<input type="submit" value="編集">
						<input type="hidden" name="id" th:value="*{id}">
					</form>
				</td>
				<td>
					<form th:action="@{/delete}" method="post">
						<input type="submit" value="削除">
						<input type="hidden" name="id" th:value="*{id}">
					</form>
				</td>
			</tr>
		</table>
		
</body>
</html>